  <mat-form-field class="example-form-field">
    <mat-label>Filtrar por marca</mat-label>
    <input matInput type="text" [(ngModel)]="value">
    @if (value) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>
  <div *ngIf="motos; else loading" class="motos-container">
    
    
    <ng-container *ngFor="let moto of motos | filtroMarca: value ; trackBy: trackById">
      <app-producto-item [moto]="moto" (verMasInfo)="verInfo.emit(moto)"></app-producto-item>
    </ng-container>
  </div>
<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>

