<div class="login-container">

  <div class="login-card">

    <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
      <div>
        <mat-card-title>Iniciar Sesion</mat-card-title>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Correo Electronico</mat-label>
          <input matInput formControlName="email" />
          <mat-error *ngIf="email()?.invalid && email()?.touched">
            Campo obligatorio
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" />
          <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="password()?.invalid && password()?.touched">
            La contraseña debe tener al menos 6 caracteres
          </mat-error>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" type="submit">
          Enviar
      </button>
      <button mat-raised-button  color="warn" type="button" (click)="regresar() ">
        Volver
      </button>
    </form>

  </div>
</div>