.footer {
    text-align: center;
    background-color: #333;
    color: white;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
.lastText{
  width: 100%;
  text-align: center;
  background-color: #7e7676;
  color: white;
}