<div class="footer">
    <div>
        <h3>Contacto:</h3>
        <div>Lorem ipsum dolor sit amet</div>
        <h3>Mail:</h3>
        <div>Lorem ipsum dolor sit amet</div>
    </div>
    <div>
        <h3>Contacto:</h3>
        <div>Lorem ipsum dolor sit amet</div>
        <h3>Mail:</h3>
        <div>Lorem ipsum dolor sit amet</div>
    </div>
    <div>
        <h3>Contacto:</h3>
        <div>Lorem ipsum dolor sit amet</div>
        <h3>Mail:</h3>
        <div>Lorem ipsum dolor sit amet</div>
    </div>
</div>

<div class="lastText">© 3033 Todos los derechos reservados</div>