<div class="footer">
    <div>
        <h2>Contacto:</h2>
        <span>Lorem ipsum dolor sit amet</span>
        <h2>Mail:</h2>
        <span>Lorem ipsum dolor sit amet</span>
    </div>
    <div>
        <h2>Contacto:</h2>
        <span>Lorem ipsum dolor sit amet</span>
        <h2>Mail:</h2>
        <span>Lorem ipsum dolor sit amet</span>
    </div>
    <div>
        <h2>Contacto:</h2>
        <span>Lorem ipsum dolor sit amet</span>
        <h2>Mail:</h2>
        <span>Lorem ipsum dolor sit amet</span>
    </div>
</div>

<div class="lastText">© 2023 Todos los derechos reservados</div>