

.content {
  flex: 1; /* Hace que el contenido ocupe todo el espacio disponible */
}

.footer {
  position:static; /* Fija el footer */
    width: 100%;
    background-color: #1976D2; /* Azul Material Design */
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.lastText {
  position:static; /* Fija el footer */
  width: 100%;
  background-color: #0D47A1; /* Azul más oscuro */
  color: white;
  text-align: center;
  font-size: 14px;
}