<mat-toolbar color="primary">
    <!-- Logo -->

    <mat-toolbar-row>
      <a (click)= "dashboard()">
        <img src="/assets/img/logomotomami.png" alt="Logo" class="logo" >
      </a>
    </mat-toolbar-row>
    <!-- Espaciador para centrar elementos -->
    <mat-toolbar-row>
      <button mat-button (click)="motos()">Motos</button>
      <button mat-button [matMenuTriggerFor]="estilosMenu">Estilos</button>
      <mat-menu #estilosMenu="matMenu" [xPosition]="estilos.length >= 5 ? 'before' : 'after'">
        <button mat-menu-item *ngFor="let estilo of estilos; trackBy: trackById">
          {{ estilo.nombre }}
        </button>
      </mat-menu>
      <button mat-button >Contacto</button>
      <button mat-button >Ubicación</button>
      <button mat-button >Nosotros</button>
      
      <span class="spacer"></span>
    
      <!--  Mostrar botones SOLO si NO está autenticado -->
      <ng-container *ngIf="!isAuthenticated; else loggedIn">
        <button mat-button (click)="login()">Acceder</button>
        <button mat-button (click)="register()">Crear cuenta</button>
      </ng-container>
    
      <!--  Usuario Autenticado -->
      <ng-template #loggedIn>
          <mat-icon fontSet="material-icons-round">person</mat-icon>
        <button mat-button (click)="logout()">Cerrar sesión</button>
      </ng-template>
    
      <!-- Carrito [matBadge]="cartItemCount" -->
      <button mat-icon-button [matBadge]="itemsCount" [matMenuTriggerFor]="menu" matBadgeColor="accent">
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <div *ngFor="let item of items;trackBy: trackById">
          {{ item.modelo }} {{ item.marca }} - ${{ item.monto }}
          <button mat-icon-button (click)="eliminarItem(item)">
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
        <button mat-menu-item (click)="carrito()">
          <mat-icon>credit_card</mat-icon>
          <span>Ir al carrito</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>

  </mat-toolbar>
  