<section class="consulta-section">
  <mat-card class="consulta-card" >
    <mat-card-header>
      <mat-card-title>Dejá tu consulta</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="formulario">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nombre</mat-label>
          <input matInput  />

        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput  />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Mensaje</mat-label>
          <textarea matInput rows="5" ></textarea>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">
          Enviar consulta
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</section>
