/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

$my-primary: mat.define-palette(mat.$orange-palette);
$my-secondary: mat.define-palette(mat.$deep-orange-palette);


$my-accent: mat.define-palette(mat.$blue-grey-palette, A200, A100, A400);
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-dark-theme((
  color: (
    primary: $my-primary,
    secondary:$my-secondary,
    accent: $my-accent,
    warn: $my-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));
html, body { height: 100%; 
  background-color: #4a4a4a;
  
}
body { margin: 0; padding: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@include mat.core();
@include mat.all-component-themes($my-theme);
