<ng-container *ngIf="pedidos";else #nopedidos class="container">
    <div *ngFor="let pedido of pedidos;trackBy: trackById">
      <mat-card appearance="outlined">
        <mat-card-content >  
          <span class="info">{{pedido.moto.marca}} {{pedido.moto.modelo}} {{pedido.moto.anio}}</span>
          <span class="monto">
            {{pedido.moto.monto | currency: 'USD'}}
          </span>
          <span >
            {{pedido.fecha_pedido | date}}
          </span>
        </mat-card-content>
      </mat-card>
      <br>
    </div>
  </ng-container>
  
  <ng-template>
    <div>No hay motos..</div>
  </ng-template>
